/* style user input field */

.bubble-container .input-wrap {
	position: absolute;
	bottom: -5px;
	left: 0;
	right: 0;
	color: #2c2c2c;
}
.bubble-container .input-wrap textarea {
	width: calc(100% - 20px);
	color: #2c2c2c;
	background: #F0F0F095;
	font-size: 2em;
	letter-spacing: 2px;
	word-spacing:7px;
	font-weight: 400;
	margin: 10px;
	border-radius: 0;
	border: none;
	padding: 10px 15px;
	outline: none;
	line-height: 150%;
	visibility: hidden !important;
}
.bubble.reply-freeform {
	margin: 0;
}
.bubble.reply.reply-freeform.say .bubble-content .bubble-button {
	margin-top: 1px;
}
.bubble.reply.say.bubble-hidden {
	margin: 0;
	transform: scale(0);
	height: 0;
}
